.open2 {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.open3 {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.close2 {
  grid-column: 5;
  grid-row: 1 / span 2;
}

.close3 {
  grid-column: 7;
  grid-row: 1 / span 3;
}

.a, .b, .e {
  grid-row: 1;
}

.c, .d, .f {
  grid-row: 2;
}

.g, .h, .i {
  grid-row: 3;
}

.a, .c, .g {
  grid-column: 2;
}

.b, .d, .h {
  grid-column: 4;
}

.e, .f, .i {
  grid-column: 6;
}
